# Binary (in root directory only)
/gromit

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test binaries
*.test

# Test coverage
coverage.out

# Gromit runner
**/.gromit/logs/
.gromit/tmp/
.gromit/status.json
